@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
*{
  box-sizing: border-box;
}
body {
  background-image: url(./img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
